### IDE ###
.idea
.project

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# App specific

unpackage/
node_modules/
.tmp
*.log
.history/test/test_20171005210855.js
.history/test/test_20171005205655.js
.history/test/test_20171005205632.js
.history/test/test_20170822214552.js
.history/src/picker_20171005211423.js
.history/src/picker_20171005205334.js
.history/src/frame_20171005211402.js
.history/src/frame_20171005211339.js
.history/src/frame_20171005205334.js
.history/package_20171005210724.json
.history/package_20171005210646.json
.history/package_20171005205334.json
.history/dist/my-picker_20171005211320.js
.history/dist/my-picker_20171005211237.js
.history/dist/my-picker_20171005211112.js
.history/dist/my-picker_20171005210826.js
.history/build/webpack.prod.min.conf_20171005210818.js
.history/build/webpack.prod.min.conf_20171005210756.js
.history/build/webpack.prod.min.conf_20171005210602.js
.history/build/webpack.prod.min.conf_20171005210513.js
.history/build/webpack.prod.min.conf_20171005210507.js
.history/build/webpack.prod.min.conf_20171005210319.js
.history/build/webpack.prod.conf_20171005210538.js
.history/build/webpack.prod.conf_20171005210415.js
