<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="<%= htmlWebpackPlugin.options.describe%>">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <link rel="icon" href="./static/logo.png" type="image/x-icon" />
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
