.picker-cover{
    position: absolute;
    background: rgba(32,32,32,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    user-select: none;
}

.picker{
    &.picker-frame{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: auto;
        background: #fff;
        width: 100vmin;
        margin: 0 auto;
        -webkit-user-select: none;
        user-select: none;
    }
    
    & .picker-head{
        width: 100vmin;
        height: 15vmin;
        padding: 3vmin 5vmin;
        box-sizing: border-box;
        background-color: #f7f7f8;
        display: flex;
        font-size: 5vmin;
        line-height: 9vmin;
    }
    & .picker-title{
        text-align: center;
        flex: 1;
        height: 9vmin;
        margin: 0;
        color: #3d4145;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    & .picker-btn-cancel,& .picker-btn-ok{
        color: #0894ec;
        border: 0;
        text-align: center;
    }
    & .picker-btn-cancel:hover,& .picker-btn-ok:hover {
        cursor: pointer;
    }
    & .picker-btn-cancel:active,& .picker-btn-ok:active {
        color: #0675bb;
    }
    & .picker-selected{
        display: none;
        margin-right: 2vmin;

    }
    
    & .picker-body{
        width: 100vmin;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 calc(100vmin * 0.220);
        box-sizing: border-box;
        -webkit-mask-box-image:
                -webkit-linear-gradient(bottom,
                        rgba(255,255,255,0.3),
                        rgba(255,255,255,0.3) 5%,
                        rgba(255,255,255,0.5) 41.6%,
                        #fff 41.7%,
                        #fff 58.3%,
                        rgba(255,255,255,0.5) 58.4%,
                        rgba(255,255,255,0.3) 95%,
                        rgba(255,255,255,0.3));
        -webkit-mask-box-image:
                linear-gradient(bottom,
                        rgba(255,255,255,0.3),
                        rgba(255,255,255,0.3) 5%,
                        rgba(255,255,255,0.5) 41.6%,
                        #fff 41.7%,
                        #fff 58.3%,
                        rgba(255,255,255,0.5) 58.4%,
                        rgba(255,255,255,0.3) 95%,
                        rgba(255,255,255,0.3));
    }
    & .picker-body::before,& .picker-body::after{
        display: block;
        position: absolute;
        left: 0;
        width: 100vmin;
        border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
        content: '';
        height: 0;
        -webkit-pointer-events: none;
        pointer-events: none;
    }
    & .picker-body::after{
        bottom:41.6%;
    } 
    & .picker-body::before{
        top:41.6%;
    }
    
    & .picker-wheel{
        flex-grow: 1;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        font-size: 0.553rem;
    }

    & .picker-wheel:first-child::before{
        position: absolute;
        content: "";
        width: calc(100vmin * 0.220);
        height: 100%;
        top: 0;
        left: calc(100vmin * -0.220);
    }

    & .picker-wheel:last-child::after{
        position: absolute;
        content: "";
        width: calc(100vmin * 0.220);
        height: 100%;
        top: 0;
        right: calc(100vmin * -0.220);
    }

    & .picker-wheel:first-child .picker-label:first-child{
        margin-left: 2vmin;
    }

    & .picker-wheel:last-child .picker-label:last-child{
        margin-right: 2vmin;
    }

    & .picker-label{
        vertical-align: middle;
        height: 100%;
    }
    & .picker-label::before{
        display: inline-block;
        content: '';
        height: 100%;
        vertical-align: middle;
    }

    & .picker-wheel ul{
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
        height: 100%;
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }
    
    & .picker-wheel li{
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto auto;
        //background: black;
        //color: #fff;
        -webkit-user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .picker-wheel:first-child li{
        margin-right: 0;
    }

    & .picker-wheel:last-child li{
        margin-left: 0;
    }
}
