.my-picker-cover{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    user-select: none;
    background-color: transparent;
    transition: 0.3s ease-out background-color;

    &.s-open{
        background-color:rgba(0,0,0,.6)
    }
}

.picker{
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &.picker-frame{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: auto;
        background: #fff;
        width: 1em;
        margin: 0 auto;
        user-select: none;
        transform: translate3d(0,1em,0);
        transition: 0.3s ease-out transform;

        .s-3d &{
            transform-style: preserve-3d;
        }

        &.s-open{
            transform: translate3d(0,0,0);
        }
    }

    & .picker-head{
        width: 1em;
        height: .15em;
        padding: .03em .05em;
        box-sizing: border-box;
        background: linear-gradient( to top, #fff 0%, #f7f7f8 100%);
        display: flex;
        // font-size: 5em;
        line-height: .09em;
    }
    & .picker-title{
        text-align: center;
        flex: 1;
        height: .09em;
        margin: 0;
        color: #3d4145;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 5px;
        font-weight: normal;
        line-height: .09em;
    }
    & .picker-btn-cancel,& .picker-btn-ok{
        color: #0894ec;
        border: 0;
        text-align: center;
        line-height: .09em;
    }
    & .picker-btn-cancel:hover,& .picker-btn-ok:hover {
        cursor: pointer;
    }
    & .picker-btn-cancel:active,& .picker-btn-ok:active {
        color: #0675bb;
    }
    & .picker-btn-cancel:active,& .picker-btn-ok:active {
        color: #0675bb;
    }
    & .picker-header-text{
        display: block;
        font-size: .04em;
    }
    & .picker-selected{
        display: none;
        margin-right: .02em;
    }

    & .picker-body{
        backface-visibility: hidden;
        overflow: hidden;
        width: 1em;
        display: flex;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        -webkit-mask-box-image:
                linear-gradient(to top,
                        rgba(255,255,255,0.3),
                        rgba(255,255,255,0.3) 5%,
                        rgba(255,255,255,0.5) 41.6%,
                        #fff 41.7%,
                        #fff 58.3%,
                        rgba(255,255,255,0.5) 58.4%,
                        rgba(255,255,255,0.3) 95%,
                        rgba(255,255,255,0.3));
    }
    &.s-3d .picker-body{
        transform-style: preserve-3d;
        padding: 0 calc(1em * 0.220);
    }
    & .picker-body::before,& .picker-body::after{
        display: block;
        position: absolute;
        left: 0;
        width: 1em;
        border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
        content: '';
        height: 0;
        pointer-events: none;
    }
    & .picker-body::after{
        bottom:41.6%;
    }
    & .picker-body::before{
        top:41.6%;
    }

    //使用3d透视的滚轮
    & .picker-wheel3d{
        flex-grow: 1;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        // font-size: 0.553rem;
        transform-style: preserve-3d;
    }

    & .picker-wheel3d:first-child::before{
        position: absolute;
        content: "";
        width: calc(1em * 0.220);
        height: 100%;
        top: 0;
        left: calc(1em * -0.220);
        pointer-events: none;
    }

    & .picker-wheel3d:last-child::after{
        position: absolute;
        content: "";
        width: calc(1em * 0.220);
        height: 100%;
        top: 0;
        right: calc(1em * -0.220);
        pointer-events: none;
    }

    & .picker-wheel3d:first-child .picker-label:first-child{
        margin-left: .02em;
    }

    & .picker-wheel3d:last-child .picker-label:last-child{
        margin-right: .02em;
    }

    & .picker-label{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .picker-text{
        font-size: .04em;
        display: block;
    }
    & .picker-wheel3d ul{
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
        height: 100%;
        position: relative;
        transform-style: inherit;
    }

    & .picker-wheel3d li{
        cursor: pointer;
        display: block;
        text-align: center;
        position: absolute;
        top: -16.666666666%;
        right: -16.666666666%;
        bottom: -16.666666666%;
        left: -16.666666666%;
        margin: auto auto;
        //background: black;
        //color: #fff;
        user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        transform-style: preserve-3d;
    }

    & .picker-wheel3d:first-child li{
        margin-right: 0;
        transform-style: preserve-3d;
    }

    & .picker-wheel3d:last-child li{
        margin-left: 0;
        transform-style: preserve-3d;
    }

    //不使用3d透视的滚轮
    & .picker-wheel{
        flex-grow: 1;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        position: relative;
    }

    & .picker-wheel .picker-label{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 .02em;
    }
    & .picker-wheel ul{
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
        position: relative;
        transform-style: inherit;
    }

    & .picker-wheel li{
        position: absolute;
        left: 0;
        cursor: pointer;
        display: block;
        text-align: center;
        margin: auto auto;
        width: 100%;
        height: 0.1428em;
        line-height: 0.1428em;
        //background: black;
        //color: #fff;
        user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .picker-wheel:first-child li{
        margin-right: 0;
    }

    & .picker-wheel:last-child li{
        margin-left: 0;
    }
}
