.my-picker-cover{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    user-select: none;
    background: transparent;
    transition: 0.3s ease-out background;

    &.s-open{
        background:rgba(0,0,0,.6)
    }
}

.picker{
    &.picker-frame{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: auto;
        background: #fff;
        width: 100vmin;
        margin: 0 auto;
        user-select: none;
        transform: translate3d(0,100vmin,0);
        transition: 0.3s ease-out transform;
        transform-style: preserve-3d;

        &.s-open{
            transform: translate3d(0,0,0);
        }
    }
    
    & .picker-head{
        width: 100vmin;
        height: 15vmin;
        padding: 3vmin 5vmin;
        box-sizing: border-box;
        background: linear-gradient( to top, #fff 0%, #f7f7f8 100%);
        display: flex;
        font-size: 5vmin;
        line-height: 9vmin;
    }
    & .picker-title{
        text-align: center;
        flex: 1;
        height: 9vmin;
        margin: 0;
        color: #3d4145;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 5px;
        font-weight: normal;
    }
    & .picker-btn-cancel,& .picker-btn-ok{
        color: #0894ec;
        border: 0;
        text-align: center;
    }
    & .picker-btn-cancel:hover,& .picker-btn-ok:hover {
        cursor: pointer;
    }
    & .picker-btn-cancel:active,& .picker-btn-ok:active {
        color: #0675bb;
    }
    & .picker-selected{
        display: none;
        margin-right: 2vmin;

    }
    
    & .picker-body{
        backface-visibility: hidden;
        overflow: hidden;
        width: 100vmin;
        display: flex;
        justify-content: center;
        position: relative;
        padding: 0 calc(100vmin * 0.220);
        box-sizing: border-box;
        -webkit-mask-box-image:
                linear-gradient(to top,
                        rgba(255,255,255,0.3),
                        rgba(255,255,255,0.3) 5%,
                        rgba(255,255,255,0.5) 41.6%,
                        #fff 41.7%,
                        #fff 58.3%,
                        rgba(255,255,255,0.5) 58.4%,
                        rgba(255,255,255,0.3) 95%,
                        rgba(255,255,255,0.3));
        transform-style: preserve-3d;
    }
    & .picker-body::before,& .picker-body::after{
        display: block;
        position: absolute;
        left: 0;
        width: 100vmin;
        border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
        content: '';
        height: 0;
        pointer-events: none;
    }
    & .picker-body::after{
        bottom:41.6%;
    } 
    & .picker-body::before{
        top:41.6%;
    }
    
    & .picker-wheel{
        flex-grow: 1;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: relative;
        font-size: 0.553rem;
        transform-style: preserve-3d;
    }

    & .picker-wheel:first-child::before{
        position: absolute;
        content: "";
        width: calc(100vmin * 0.220);
        height: 100%;
        top: 0;
        left: calc(100vmin * -0.220);
        pointer-events: none;
    }

    & .picker-wheel:last-child::after{
        position: absolute;
        content: "";
        width: calc(100vmin * 0.220);
        height: 100%;
        top: 0;
        right: calc(100vmin * -0.220);
        pointer-events: none;
    }

    & .picker-wheel:first-child .picker-label:first-child{
        margin-left: 2vmin;
    }

    & .picker-wheel:last-child .picker-label:last-child{
        margin-right: 2vmin;
    }

    & .picker-label{
        zoom: 2;
        vertical-align: middle;
        height: 100%;
    }
    & .picker-label::before{
        display: inline-block;
        content: '';
        height: 100%;
        vertical-align: middle;
    }

    & .picker-wheel ul{
        list-style: none;
        padding: 0;
        margin: 0;
        flex: 1;
        height: 100%;
        position: relative;
        transform-style: inherit;
    }
    
    & .picker-wheel li{
        cursor: pointer;
        display: block;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto auto;
        //background: black;
        //color: #fff;
        user-select: none;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        zoom: 2;
        transform-style: preserve-3d;
    }

    & .picker-wheel:first-child li{
        margin-right: 0;
        transform-style: preserve-3d;
    }

    & .picker-wheel:last-child li{
        margin-left: 0;
        transform-style: preserve-3d;
    }
}
