.picker-cover{
    position: absolute;
    background: rgba(32,32,32,0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    user-select: none;
}

.picker{
    &.picker-frame{
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
        height: 120vmin;
        z-index: 2;
        background: #fff;
    }
    
    & .picker-head{
        width: 100vmin;
        height: 20vmin;
        padding: 5vmin;
        box-sizing: border-box;
        background: #eee;
        text-align: right;
    }
    & .picker-btn-cancel,& .picker-btn-ok{
        border: 1px solid #000;
        display: inline-block;
        font-size: 16px;
        color: #fff;
    }
    & .picker-btn-cancel{
        background: #ff0000;
        float: left;
    }
    & .picker-btn-ok{
        background: #0000ff;
    }
    & .picker-selected{
        
    }
    
    & .picker-body{
        display: flex;
        justify-content: center;
        position: relative;
        -webkit-mask-box-image:
                -webkit-linear-gradient(bottom,
                        rgba(255,255,255,0.3),
                        rgba(255,255,255,0.3) 5%,
                        rgba(255,255,255,0.5) calc(41.6vmin-1px),
                        #fff 41.6vmin,
                        #fff 58.3vmin,
                        rgba(255,255,255,0.5) calc(58.3vmin + 1px),
                        rgba(255,255,255,0.3) 95%,
                        rgba(255,255,255,0.5));
        -webkit-mask-box-image:
                linear-gradient(bottom,
                        rgba(255,255,255,0.5),
                        rgba(255,255,255,0.5) 5%,
                        rgba(255,255,255,0.5) 99px,
                        #fff 100px,
                        #fff calc(100% - 100px),
                        rgba(255,255,255,0.5) calc(100% - 99px),
                        rgba(255,255,255,0.3) 95%,
                        rgba(255,255,255,0.3));
    }
    & .picker-body::before,& .picker-body::after{
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
        content: '';
        height: 0;
        -webkit-pointer-events: none;
        pointer-events: none;
    }
    & .picker-body::after{
        bottom:100px;
    } 
    & .picker-body::before{
        top:100px;
    }
    
    & .picker-wheel{
        width: auto;
        flex-grow: 1;
        box-sizing: border-box;
    }

    & .picker-wheel:first-child{
        padding-left: 100vw * 0.220;
        flex-basis: 100vw * 0.220;
    }

    & .picker-wheel:last-child{
        padding-right: 100vw * 0.220;
        flex-basis: 100vw * 0.220;
    }
    
    & .picker-wheel ul{
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        position: relative;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
       
    }
    
    & .picker-wheel li{
        display: block;
        width: 100%;
        height: 15px;
        text-align: center;
        font-size: 12px;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto auto;
        //background: black;
        //color: #fff;
        -webkit-user-select: none;
    }

    & .picker-wheel:first-child li{
        margin-right: 0;
    }

    & .picker-wheel:last-child li{
        margin-left: 0;
    }
}
